.container {
  display: grid;
  grid-template-columns: 280px 1fr; /* Sidebar ocupa 200px, resto da página 1fr */
  grid-template-rows: auto auto 1fr auto;
  gap: var(--gap-s);
  min-width: 1200px;
  box-sizing: border-box;
  grid-template-areas:
    "sidebar search"
    "sidebar usuario"
    "sidebar orcamento"
    "sidebar movimentacoes"
    "sidebar chart";
}

/* Estilização do Sidebar */
.sidebar {
  grid-area: sidebar;
  background-color: var(--cor-neutra-medium);
  color: var(--cor-neutra-light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius-s);
}

.sidebar img.logo {
  padding-top: var(--padding-l);
}

.sidebar footer {
  padding: var(--padding-m);
  text-align: center;
}

/* Estilização da Barra de Pesquisa */
.search-bar {
  margin-top: 32px;
  background-color: var(--cor-neutra-dark-medium);
  border-radius: var(--border-radius-s);
  padding: var(--padding-xs) var(--padding-s);
  grid-area: search;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-s);
}

.search-bar img {
  width: 24px;
  height: 24px;
}

.search-bar input {
  width: 100%;
  color: var(--cor-neutra-light);
  background-color: transparent;
  font-size: var(--fonte-l);
  border: none;
  outline: transparent;
}

.search-bar input::placeholder {
  color: var(--cor-neutra-light);
}

.saudacao-usuario {
  grid-area: usuario;
  color: var(--cor-neutra-light);

  & > h1 {
    margin: 16px 0 0 0;
  }

  & > p {
    margin: 8px 0 16px 0;
  }
}

.orcamento {
  grid-area: orcamento;
  display: flex;
  justify-content: space-between;
  gap: var(--gap-l);
}

.orcamento div {
  flex: 1;
  text-align: center;

  & > h2 {
    font-size: var(--fonte-l);
    color: var(--cor-neutra-light);
    background-color: var(--cor-neutra-medium);
    border-radius: var(--border-radius-l) var(--border-radius-l) 0px 0px;
    padding: var(--padding-s) var(--padding-l);
  }

  & > p {
    color: var(--cor-primaria);
    font-size: var(--fonte-xxxl);
    font-weight: 700;
    background-color: var(--cor-neutra-dark-medium);
    padding: var(--padding-l) var(--padding-xl);
    border-radius: 0px 0px var(--border-radius-l) var(--border-radius-l);
  }
}

.orcamento div > h2,
.orcamento div > p {
  margin: 0;
}

/* Estilização das listas de Alimentos e Exercícios */
.movimentacoes-conta {
  grid-area: movimentacoes;
  display: flex;
  gap: var(--gap-l);
}

.lista-transacoes,
.lista-contas {
  flex: 1;
  text-align: center;

  & > h2 {
    font-size: var(--fonte-l);
    font-weight: 400;
    color: var(--cor-neutra-light);
    background-color: var(--cor-neutra-medium);
    border-radius: var(--border-radius-l) var(--border-radius-l) 0px 0px;
    padding: var(--padding-s) var(--padding-l);
    margin: 0;
  }

  & > div {
    background-color: var(--cor-neutra-dark-medium);
    padding: var(--padding-l) var(--padding-m);
    border-radius: 0px 0px var(--border-radius-l) var(--border-radius-l);
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;

    & > ul {
      list-style: none;
      color: var(--cor-primaria);
      margin: 0;
      padding-left: 0px;
      padding-bottom: var(--padding-m);
      width: 100%;
      overflow: auto;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}

.conta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-m);
  border-bottom: 1px solid var(--cor-neutra-medium);
  color: var(--cor-neutra-light);

  & > .conta-titulo {
    display: flex;
    align-items: center;
    gap: var(--gap-xs);

    & > h3 {
      margin: 0;
    }
  }

  & > .conta-saldo {
    text-align: start;

    & > p {
      margin: 0;
    }
  }
}

.transacao {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-s);
  border-bottom: 1px solid var(--cor-neutra-medium);

  & > .transacao-titulo {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: var(--gap-xs);

    & > h3 {
      margin: 0;
    }
  }

  & > .transacao-saldo {
    text-align: start;
    color: var(--cor-neutra-light);
    & > p {
      margin: 0;
      margin-bottom: 8px;
    }
  }
}

.receita {
  color: var(--cor-secundaria-receita);
}

.despesa {
  color: var(--cor-secundaria-despesa);
}

.button {
  display: flex;
  align-items: center;
  gap: var(--gap-xs);
  background-color: transparent;
  border: 1px solid var(--cor-neutra-light);
  border-radius: var(--border-radius-l);
  padding: var(--padding-xs) var(--padding-m);
  color: var(--cor-neutra-light);
  cursor: pointer;
  font-size: var(--fonte-md);
}

/* Estilo para o componente de ingestão de água */
.water-intake {
  grid-column: 2 / 3;
  background-color: #ffcccc;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
  margin-top: 20px; /* Espaçamento entre calorias e ingestão de água */
}

.progress-bar {
  width: 100%;
  height: 20px;
  background-color: #ddd;
  border-radius: var(--border-radius-s);
  overflow: hidden;
  margin-top: 10px;
}

.progress {
  height: 100%;
  background-color: var(--cor-secundaria-receita);
}

/* Estilo para o gráfico */
.balanco-financeiro {
  grid-area: chart;
  text-align: center;

  & > h2 {
    font-size: var(--fonte-l);
    font-weight: 400;
    color: var(--cor-neutra-light);
    background-color: var(--cor-neutra-medium);
    border-radius: var(--border-radius-l) var(--border-radius-l) 0px 0px;
    padding: var(--padding-s) var(--padding-l);
    margin: 0;
  }

  & > div {
    background-color: var(--cor-neutra-dark-medium);
    border-radius: 0px 0px var(--border-radius-l) var(--border-radius-l);
    display: flex;
    justify-content: center;

    & > .chart-area {
      padding: var(--padding-xs);
      width: 50%;
      height: 50%;
    }
  }
}
